#navbar {
    height: 60px;
    background-color: black;
    padding: auto;
    
    
    
}

#navbar a {
    text-decoration: none;
    margin-right: 125px;
    
    
}
* {
    padding: 0;
    margin: 0;
    color: white;
}

button {
    background-color: #f08804;
}

#logo {
    color: #f08804;
    font-size: 25px;

}




#searchbox {
    color: black;

}

footer {
    background-color: #37475A;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    
}



p {
    text-align: center;
    
}

#content {
    height: 541px;
    text-align: center;
    background-color:none;
    color: #f08804;
}

.backtotop a {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
}

.backtotop {
    
    background-color: #37475A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#backtotop {
    text-decoration: none;
    font-family: Amazon Ember, sans-serif;
}

.mainsection {
    background-color: #232F3E;
    color: white;
    padding: 40px 200px;    
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;         
    font-family: Amazon Ember, Arial, sans-serif;
    font-size: 14px;
    gap: 40px;
    height: auto;
}

.mainsection a {
    text-decoration: none;
}

.mainsection a:hover {
    text-decoration: underline;
}


.section1 {
    display: flex;   
    flex-direction: column;
    gap: 12px;
    margin-bottom: auto;
    
}

.section2 {
    
    display: flex;   
    flex-direction: column;
    gap: 12px;
    margin-bottom: auto; 
}

.section3 {
    display: flex;   
    flex-direction: column;
    gap: 12px;
    margin-bottom: auto
}

.section4 {
    display: flex;   
    flex-direction: column;
    gap: 12px;
    margin-bottom: auto;
    
    

}

.amazon-logo {
    width: 100px;
    display: block;
    

}    

.backtotop:hover {
    background-color:#495768;
    
}

.bottom {
    padding: 10px;
    background-color:#232F3E;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

}
.amazon-logo1 {
    width: 100px;
    display: block;
}

.selectorbutton1 {
    background: transparent;
}
.selector {
  display: flex;
  gap: 20px;
  padding: 
}

    




    



