#navbar {
    height: 60px;
    background-color: black;
    
}
* {
    padding: 0;
    margin: 0;
    color: white;
}

button {
    background-color: #f08804;
}

#logo {
    color: #f08804;
    font-size: 25px;

}

a {
    margin-right: 150px;
    text-decoration: none;
}

#searchbox {
    color: black;

}

footer {
    background-color: #37475A;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    
}



p {
    text-align: center;
    
}

#content {
    height: 541px;
    text-align: center;
    background-color:none;
    color: #f08804;
}

#para1 {
    font-family: Amazon Ember, Arial, sans-serif;
    font-size: small;
    color: white;
    
}

#helpingpage {
    height: 800px;
}

.mainsection {
    
    background-color: #232F3E;
    color: white;
    padding: 50px;
    display: flex;
    gap: 10px;   
    height: auto;
    font-family: Amazon Ember, Arial, sans-serif;
    font-size: small;
    
    

}

.section1 {
    display: flex;   
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
    
}

.section2 {
    
    display: flex;   
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto; 
}

.section3 {
    display: flex;   
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto
}

.section4 {
    display: flex;   
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
    
    

}


    



