#navbar {
    height: 60px;
    background-color: black;
    
}
* {
    padding: 0;
    margin: 0;
    color: white;
}

button {
    background-color: #f08804;
}

#logo {
    color: #f08804;
    font-size: 25px;

}

a {
    margin-right: 150px;
    text-decoration: none;
}

#searchbox {
    color: black;
}